#videoInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.mobile {
    display: none;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -800px;
}

@media screen and (max-width: 800px) {
    #videoInput {
        display: block;
    }

    canvas {
        display: block;
    }

    .mobile {
        display: block;
    }

    .start {
        display: block;
    }
}